<!doctype html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <title>Learning Experiment - Informed Consent Form</title>
        <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr>
                <div class="legal well">
                    <h2>Study Description</h2>
                    <p>
                        This task is part of a research study being conducted
                        by Soar Technology, Inc. The purpose of the research is
                        to better understand how best to structure the
                        interactions between a human and an Artificial
                        Intelligence (AI) system when either the human or the
                        AI is trying to teach the other something new. 
                    </p>

                    <h2>Procedures</h2>
                    <p>
                        During this experiment, which we expect to take
                        approximately 30 minutes, you will be asked to either
                        teach an AI system to perform a range of robot
                        manipulation tasks or the AI system will assume the
                        role of the teacher and try and provide you with
                        guidance on the same tasks. These interactions will
                        take place through a web-based simulation environment
                        and a web-based user interface.
                    </p>

                    <h2>Participant Requirements</h2>
                    <p>
                        Participation in this study is limited to individuals
                        <strong>age 18 and older</strong> and <strong>fluent in English</strong>.
                    </p>
                    <p>Additionally, all participants are required to have a
                        <strong>modern web browser</strong>, such as Chrome,
                        Safari, Edge, or Firefox (a requirement for using the
                        web-based simulation).
                    </p>

                    <h2>Risks</h2>
                    <p>
                        The risks and discomfort associated with participation
                        in this study are no greater than those ordinarily
                        encountered in daily life or during other online
                        activities.
                    </p>

                    <h2>Benefits</h2>
                    <p>
                        There may be no personal benefit from your
                        participation in the study but the knowledge received
                        may be of value to humanity.
                    </p>

                    <h2>Compensation and Costs</h2>
                    <p>
                        For participating in this task, you will be paid $2.625
                        directly through Mechanical Turk. 
                    </p>
                    <p>
                        Additionally, there is an opportunity to receive a
                        bonus on this task based on your performance as either
                        a teacher or student. If you are randomly assigned the
                        role of a teacher, then your bonus will be based on the
                        performance of the <em>AI system</em> you teach on a
                        pre-determined set of test tasks at the end of training
                        (the test score will vary from 0 to 100 percent).
                    </p>
                    <p>
                        Similarly, if you're randomly assigned the role of a
                        student, then your bonus will be based on <em>your</em>
                        performance on a pre-determined set of test tasks after
                        the AI system provides you with training.
                    </p>
                    <p>
                        A maximum bounus of $2 will be awarded for a perfect
                        score on the test tasks and the bonus will be prorated
                        for scores less than 100% (i.e., bonus = $2 * test
                        score).
                    </p>
                    <p>
                        There will be no cost to you if you participate in this
                        study.
                    </p>

                    <h2>Confidentiality</h2>
                    <p>
                        The data captured for the research does not include any
                        personally identifiable information about you.  Your IP
                        address and Worker ID will not be captured and stored.
                    </p>

                    <p>
                        By participating in this research, you understand and
                        agree that Soar Technology, Inc. may be required to
                        disclose your consent form, data and other personally
                        identifiable information as required by law,
                        regulation, subpoena or court order.  Otherwise, your
                        confidentiality will be maintained in the following
                        manner:
                        <ul>
                            <li>Your data and consent form will be kept separate.</li>
                            <li>Your consent form will be stored on an
                                encrypted hard drive at a locked location on
                                Soar Technology, Inc. property and will not be
                                disclosed to third parties.</li>
                        </ul>
                    </p>
                    <p>
                        Finally, by participating, you understand and agree
                        that the data and information gathered during this
                        study may be used by Soar Technology, Inc. and
                        published and/or disclosed by Soar Technology, Inc. to
                        others outside of Soar Technology Inc. However, your
                        name, address, contact information and other direct
                        personal identifiers in your consent form will not be
                        mentioned in any such publication or dissemination of
                        the research data and/or results by Soar Technology
                        Inc.
                    </p>

                    <h2>Right to Ask Questions & Contact Information</h2>
                    <p> 
                        If you have any questions about this study, you should
                        feel free to ask them by contacting the Principal
                        Investigator now at:

                        <address>
                            Chris MacLellan, PhD</br>
                            Research Scientist</br>
                            Soar Technology, Inc., <a href='http://www.soartech.com'>www.soartech.com</a></br>
                            3600 Green Court, Suite 600, Ann Arbor, MI, 48105</br>
                            Phone: 734-627-8081</br>
                            Email: chris.maclellan@soartech.com</br>
                        </address>
                    </p>
                    <p>
                        If you have questions later, desire additional
                        information, wish to withdraw your participation, or to
                        report objections to this study please contact the
                        Principle Investigator (Chris MacLellan) by mail, phone
                        or e-mail in accordance with the contact information
                        listed above.
                    </p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <h2>Voluntary Participation</h2>
                <p>
                    Your participation in this research is voluntary.  You may
                    discontinue participation at any time during the research
                    activity. 
                </p>
                <p>
                    By accepting below you agree to to the following statements:
                    <ul>
                        <li>I am 18 years of age or older</li>
                        <li>I have read and understand the information above</li>
                        <li>I want to participate in this research and continue with the experiment</li>
                    </ul>

                <hr>
                <h4>Do you understand and consent to these terms?</h4>
                <br>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

