
<style type="text/css">
    
    #gameObjectHolder {
        float: left;
        /*display: flex;
                flex-direction: row;
                
                background-color: black;
                max-height: inherit;*/
        flex: 1;
        height: auto;
    }

    #gameObject {
        //display: flex;
        //flex-direction: row;
        padding-top: 75%;
        width: 50px; //background-color: black;
    }

    .hasOutline {
        border-style: solid;
        border-width: 1px;
        border-color: #BBBBBB;
    }

    #sidePanel {
        float: left;
        /* min-width:100px; */
        /* max-width:200px; */
        width: auto;
        max-width: 21%;
        min-width: 20%;
        height: 600px;
        display: flex;
        flex-direction: column;
    }

    #wholeLevel {
        /* width: 1000px; */
        height: 602px;
        display: flex;
        flex-direction: row;

    }

    #actorTitle {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        margin: 0;
        padding: 15px 0;
    }

    .recievedButtonContainer {
        float: left;
        width: 46%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        margin: 3px 0;
        height: 25px;
    }

    .recievedButton {
        width: 100%;
        height: 25px;
        font-size: 15px;
        margin: 0px;
        padding: 0px; //position:relative;
        //top:50%; 
        //left:50%;
    }

    #holdButtons {
        height: auto;
        min-height: 120px;
        overflow: auto;
        /* the order: TOP&BOTTOM LEFT&RIGHT */
        padding: 3px 3px;
        max-height: 400px;
    }

    #serverMessages {
        flex: 1;
        overflow: auto;
        padding: 0 5px;
        font-size: 14px;

        min-height: 100px;
    }

    #chatMessageButton {
        float: left;
        flex: 1; //font-size: 12px;
        font-size: 15px;
        margin: 0px;
        padding: 0px;
        height: 25.5px;
        z-index: 2;
    }

    #chatmessageDiv {
        display: flex;
        flex-direction: row;
        width: inherit; //height: 25px;
        padding-bottom: 0.0px;
    }

    #chatForm {
        float: left;
        width: 140px;
        margin-right: 1px;
    }

    #chatBox {
        position: absolute;
        height: 24.5px;
        width: inherit;
        padding: 0px;
        border-width: 0.5px;
        font-size: 15px;
        z-index: 1;
    }

    .aspectRatioSizer {
        display: grid;
    }

    .aspectRatioSizer>* {
        grid-area: 1 / 1 / 2 / 2;
    }

    p {
        margin: 3px;
        padding: 0px;
    }


    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>

<div id="wholeLevel">
    <!--Hi there. This is the web socket test run javascript page. If you have found this, you should see the words "egg salad".
        <p id=testDisplay1> intialize test display </p>-->







    <div id="gameObjectHolder" class="hasOutline">
        <div class="aspectRatioSizer">
            <svg viewBox="0 0 4 3"></svg>
            <div>
                <div id="gameContainer" style="width: 100%;height: 600px"></div>
            </div>
        </div>

    </div>

    <div id="sidePanel" class="hasOutline">
        <!-- This is taken out because I am no longer given the actor I think
                <p id="actorTitle" class="hasOutline"> ----- </p>
-->

        <h4>Chat Log</h4>
        <div id="serverMessages" class="hasOutline">
        </div>
        <div id="chatmessageDiv">
        </div>
        <h4>Training Buttons</h4>
        <div id="holdButtons" class="hasOutline">
        </div>
    </div>



</div>
<!--

    <button id="requestButtons" onclick="requestButtons()">Request Buttons</button>
    <button onclick="clearServerOutput()">Clear</button>
    <button onclick="requestLock()">lock</button>
    <button onclick="requestUnlock()">unlock</button>
    <button onclick="requestLockChatBox()">lock chat box</button>
    <button onclick="requestUnlockChatBox()">unlock chat box</button>

    <button onclick="requestResetUnity()">reset unity</button>

    <button onclick="requestUnityAction()">request Action</button>
    -->

<script src="Build/UnityLoader.js"></script>
<script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "Build/build 36 7-19-18 yellow buttons and trying to log less.json");
    // this is build 36 with html interface 11
</script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    console.log("ws://" + window.location.host);
    var socket = io.connect("ws://" + window.location.host); //'ws://localhost:5000');

    //var trainer;
    var id;
    var buttonIdCounter = 0;

    //document.getElementById('testDisplay1').innerHTML = "changed as a test for javascript";
    socket.on('connect', function() {
        //socket.emit('message', {data: 'I\'m connected!'});
        //document.getElementById('testDisplay1').innerHTML = "changed as a test for socket connect";
        //socket.emit('htmlMessage', "egg salad 4");



        var currentUrlString = window.location.href;
        console.log(currentUrlString);
        //http://localhost:5000/exp?hitId=debugV0M43W&assignmentId=debugEXVKP1&workerId=debug8GBALW&mode=debug
        var indexOfStartOfWorkerId = currentUrlString.indexOf("workerId");
        var indexOfAmpersandAtEndOfWorkerId = currentUrlString.indexOf("&", indexOfStartOfWorkerId);

        var workerIdString = currentUrlString.substring(indexOfStartOfWorkerId + 9, indexOfAmpersandAtEndOfWorkerId);

        var indexOfStartOfAssignmentId = currentUrlString.indexOf("assignmentId");
        var indexOfAmpersandAtEndOfAssignmentId = currentUrlString.indexOf("&", indexOfStartOfAssignmentId);

        var assignmentIdString = currentUrlString.substring(indexOfStartOfAssignmentId + 13, indexOfAmpersandAtEndOfAssignmentId);

        var finalIdString = workerIdString + ":" + assignmentIdString

        console.log(finalIdString);

        socket.emit('join', {
            'id': finalIdString
        });

        id = finalIdString;
    });
    /*socket.on('initializeInterface', function(data) {
      console.log(data);
            actor = data.actor;
            id = data.id;
            document.getElementById('actorTitle').innerHTML = actor.charAt(0).toUpperCase() + actor.slice(1) + " Interface:";
    });*/

    function requestButtons() {

        socket.emit("requestTestTrainingButtons");
    }

    function clearServerOutput() {

        socket.emit("clearAll");
    }

    function requestLock() {

        socket.emit("requestLock");
    }

    function requestUnlock() {

        socket.emit("requestUnlock");
    }

    function requestLockChatBox() {

        socket.emit("requestLockChatBox");
    }

    function requestUnlockChatBox() {

        socket.emit("requestUnlockChatBox");
    }

    function requestResetUnity() {

        socket.emit("requestResetUnity");
    }

    function requestUnityAction() {
        socket.emit("requestActionBroadcast");
    }

    /*socket.on('getTrainingButton', function(data) {
      //e.g. data = {"identifier"="890",buttonText="Request Feedback"}
            document.getElementById('holdButtons').innerHTML += '<div class="recievedButtonContainer"><button class="recievedButton" onclick="socket.emit(\'onTrainingButtonPress\',{\'identifier\':\'' + data.identifier + '\',\'id\':\'' + id + '\',\'actor\':\'' + actor + '\'})">' + data.buttonText + "</button></div>"
            
    });*/

    socket.on('getTrainingButtons', function(buttonList) {
        document.getElementById('holdButtons').innerHTML = "";
        for (var i = 0; i < buttonList.length; i++) {

            //e.g. data = {"identifier"="890",buttonText="Request Feedback"}

            var data = buttonList[i];

            //document.getElementById('holdButtons').innerHTML += '<div class="recievedButtonContainer"><button class="recievedButton" onclick="socket.emit(\'onTrainingButtonPress\',{\'identifier\':\'' + data.identifier + '\',\'id\':\'' + id + '\',\'actor\':\'' + actor + '\'})">' + data.buttonText + "</button></div>"

            document.getElementById('holdButtons').innerHTML += '<div class="recievedButtonContainer"><button class="recievedButton" onclick="socket.emit(\'onTrainingButtonPress\',{\'identifier\':\'' + data.identifier + '\',\'id\':\'' + id + '\'})">' + data.buttonText + "</button></div>";

            $('.recievedButton').effect('highlight', {}, 1500);
        }



    });
    socket.on('sendTrainingMessage', function(message) {
        console.log(message);
        // document.getElementById('serverMessages').innerHTML += "<p>" + message + "</p>";

        var m = $('<p></p>').text(message);

        $('#serverMessages').append(m);
        $("#serverMessages").scrollTop($("#serverMessages")[0].scrollHeight);
        $(m).effect("highlight", {}, 1500);
    });

    socket.on('instructions', function(message) {
        console.log("instructions: " + message);
    });

    socket.on('clearTrainingMessages', function(message) {
        document.getElementById('serverMessages').innerHTML = "<p> The Log: </p>";

    });

    //OBSOLETE FUNCTION: clearTrainingButtons
    socket.on('clearTrainingButtons', function(message) {
        document.getElementById('holdButtons').innerHTML = "";

    });


    socket.on('lockButtons', function() {
        var buttonList = document.getElementsByClassName("recievedButton");
        for (var i = 0; i < buttonList.length; i++) {
            buttonList[i].setAttribute('disabled', 'disabled')
        }

    });
    socket.on('unlockButtons', function() {
        var buttonList = document.getElementsByClassName("recievedButton");
        for (var i = 0; i < buttonList.length; i++) {
            buttonList[i].removeAttribute("disabled");
        }


    });

    socket.on('lockChatBox', lockChatBox);
    socket.on('unlockChatBox', unlockChatBox);

    function unlockChatBox() {
        document.getElementById('chatmessageDiv').innerHTML = `<form id="chatForm">
                        <input type="text" id="chatBox">
                    </form>
                    <button id="chatMessageButton" onclick="sendChatMessage()">Send</button>`
        document.getElementById("chatmessageDiv").classList.add('hasOutline');
        document.getElementById("chatmessageDiv").style.paddingBottom = "0.5px";
    }

    function lockChatBox() {
        document.getElementById('chatmessageDiv').innerHTML = ""
        document.getElementById("chatmessageDiv").classList.remove('hasOutline');
        document.getElementById("chatmessageDiv").style.paddingBottom = "0";
    }

    function sendChatMessage() {
        socket.emit("getChatMessage", {
            'message':
                // document.getElementById('chatBox').value,'actor': actor,'id': id});
                document.getElementById('chatBox').value,
            'id': id
        });
        document.getElementById('chatBox').value = "";
    }
</script>
