<div id="wholeLevel">
    <div id="gameContainer" class="hasOutline">
    </div>
    <div id="sidePanel" class="hasOutline">
        <h4>Interaction Log</h4>
        <div id="serverMessages" class="hasOutline">
        </div>
        <div id="chatmessageDiv" class="hasOutline">
            <input type="text" id="chatBox" autocomplete="off"/>
            <button id="chatMessageButton">Send</button>
        </div>
        <h4>Training Actions</h4>
        <div id="holdButtons" class="hasOutline">
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    var socket = io.connect("ws://" + window.location.host); 

    //var trainer;
    var id;
    var buttonIdCounter = 0;
    var lastButtonList = null;

    socket.on('connect', function() {
        var currentUrlString = window.location.href;
        var indexOfStartOfWorkerId = currentUrlString.indexOf("workerId");
        var indexOfAmpersandAtEndOfWorkerId = currentUrlString.indexOf("&", indexOfStartOfWorkerId);
        var workerIdString = currentUrlString.substring(indexOfStartOfWorkerId + 9, indexOfAmpersandAtEndOfWorkerId);
        var indexOfStartOfAssignmentId = currentUrlString.indexOf("assignmentId");
        var indexOfAmpersandAtEndOfAssignmentId = currentUrlString.indexOf("&", indexOfStartOfAssignmentId);
        var assignmentIdString = currentUrlString.substring(indexOfStartOfAssignmentId + 13, indexOfAmpersandAtEndOfAssignmentId);
        var finalIdString = workerIdString + ":" + assignmentIdString

        socket.emit('join', {
            'id': finalIdString
        });

        id = finalIdString;

    });

    socket.on('getTrainingButtons', function(buttonList) {
        if (lastButtonList !== null && 
             buttonListsEqual(lastButtonList, buttonList)){
            return;
        }

        $('#holdButtons').html("");
        for (var i = 0; i < buttonList.length; i++) {
            var data = buttonList[i];
            var button = $("<button>" + data.buttonText + "</button>");
            if (data.descriptionText !== undefined){
                $(button).attr('title', data.descriptionText);
            }
            $(button).addClass('receivedButton');
            $(button).attr('button-id', data.identifier);

            $('#holdButtons').append(button);
            $(button).tooltip();
            $(button).effect('highlight', {}, 1500);
        }

        $('.receivedButton').on('click', function(ev){
            socket.emit('onTrainingButtonPress', {
                'identifier': '' + $(ev.currentTarget).attr('button-id'),
                'id': '' + id
            });
        });

        lastButtonList = buttonList;
    });

    socket.on('sendTrainingMessage', function(message) {
        var m = $('<p></p>').text(message);
        $('#serverMessages').append(m);
        $("#serverMessages").scrollTop($("#serverMessages")[0].scrollHeight);
        $(m).effect("highlight", {}, 1500);
    });

    socket.on('instructions', function(message) {
        console.log("instructions: " + message);
    });

    socket.on('clearTrainingMessages', function(message) {
        $('#serverMessages').html("");
    });

    //OBSOLETE FUNCTION: clearTrainingButtons
    socket.on('clearTrainingButtons', function(message) {
        $('#holdButtons').html('');
    });

    socket.on('lockButtons', lockButtons);
    socket.on('unlockButtons', unlockButtons);
    socket.on('lockChatBox', lockChatBox);
    socket.on('unlockChatBox', unlockChatBox);

    function lockButtons() {
        $('.receivedButton').attr('disabled', 'disabled');
    }

    function unlockButtons() {
        $('.receivedButton').removeAttr('disabled');
    }

    function unlockChatBox() {
        $('#chatmessageDiv').show();
    }

    function lockChatBox() {
        $('#chatmessageDiv').hide();
    }

    function sendChatMessage() {
        socket.emit("getChatMessage", {
            'message':
                document.getElementById('chatBox').value,
            'id': id
        });
        document.getElementById('chatBox').value = "";
    }

    function requestButtons() {
        socket.emit("requestTestTrainingButtons");
    }

    function clearServerOutput() {
        socket.emit("clearAll");
    }

    function requestLock() {
        socket.emit("requestLock");
    }

    function requestUnlock() {
        socket.emit("requestUnlock");
    }

    function requestLockChatBox() {
        socket.emit("requestLockChatBox");
    }

    function requestUnlockChatBox() {
        socket.emit("requestUnlockChatBox");
    }

    function requestResetUnity() {
        socket.emit("requestResetUnity");
    }

    function requestUnityAction() {
        socket.emit("requestActionBroadcast");
    }

    function buttonListsEqual(arr1, arr2) {
        if(arr1.length !== arr2.length){
            return false;
        }
        for(var i = arr1.length; i--;) {
            if(arr1[i].identifier !== arr2[i].identifier ||
               arr1[i].buttonText !== arr2[i].buttonText ||
               arr1[i].descriptionText !== arr2[i].descriptionText){
                return false;
            }
        }

        return true;
    }

    $(function(){
        $('#chatMessageButton').on('click', sendChatMessage);
        $('#chatBox').keypress(function(e){
            if (e.which == 13) {
                sendChatMessage();
            }
            
            
        });
        lockChatBox();

        // Load the unity game in an Iframe, so it can be removed easily.
        var idx = window.location.href.indexOf('?');
        var src = '/unity.html' + window.location.href.substring(idx,
            window.location.href.length);
        console.log("loading SRC in iframe");
        console.log(src);
        var iframe = $("<iframe scrolling=\"no\" seamless=\"seamless\"></iframe>")
            .attr({"id": 'unityFrame', "src": src });
        $('#gameContainer').append(iframe);
    });

</script>
