<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <p>You are finished! Thank you for your participation in this experiment. You will be eligible for full payment once you answer the following questions.</p>

    <br>

    <p>NOTE: Once done with the survey, you will be given your unique code - please take note of this code before hitting the "Finish" button.</p>

    <hr />

    <div class="instructions well">

        <h4>
            Please rate how much you <em>agree</em> or <em>disagree</em> with
            the following statements and provide additional comments where
            appropriate (fields with a <span class="required">*</span> are
            required):
        </h4>

        <div>
          <script>
            const urlString = 'drexel.qualtrics.com/jfe/form/SV_7WX2ZC9lvkJ4q4B?hitId=' + hitId + '&assignmentId=' + assignmentId + '&workerId=' + workerId;
          </script>

          <iframe id="student-survey" allowfullscreen="" src=urlString style="width:100%;height:100vh;"></iframe>


        </div>


        <!-- <form id="postquiz" action="debrief" method="post"> -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    Please provide a 1-2 sentence description of the task you
                    think the teacher was trying to teach you.<span class='required'>*</span>
                </div>
                <div>
                    <textarea rows="3" name="description_of_target_task"></textarea>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    I learned to correctly perform the task by the end of training.<span class='required'>*</span>
                </div>
                <div>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="student_learned_task" value="strongly_disagree">
                        <label>Strongly disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_learned_task" value="disagree">
                        <label>Disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_learned_task" value="neither_agree_nor_disagree">
                        <label>Neither agree nor disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_learned_task" value="agree">
                        <label>Agree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_learned_task" value="strongly_agree">
                        <label>Strongly agree</label>
                      </li>
                    </ul>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    I only needed a few examples to learn.<span class='required'>*</span>
                </div>
                <div>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="student_required_few_examples" value="strongly_disagree">
                        <label>Strongly disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_required_few_examples" value="disagree">
                        <label>Disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_required_few_examples" value="neither_agree_nor_disagree">
                        <label>Neither agree nor disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_required_few_examples" value="agree">
                        <label>Agree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_required_few_examples" value="strongly_agree">
                        <label>Strongly agree</label>
                      </li>
                    </ul>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    I was able to quickly decide what actions to take next.<span class='required'>*</span>
                </div>
                <div>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="student_was_responsive" value="strongly_disagree">
                        <label>Strongly disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_was_responsive" value="disagree">
                        <label>Disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_was_responsive" value="neither_agree_nor_disagree">
                        <label>Neither agree nor disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_was_responsive" value="agree">
                        <label>Agree</label>
                      </li>
                      <li>
                        <input type="radio" name="student_was_responsive" value="strongly_agree">
                        <label>Strongly agree</label>
                      </li>
                    </ul>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    Learning from the teacher was natural and intuitive.<span class='required'>*</span>
                </div>
                <div>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="instruction_was_natural" value="strongly_disagree">
                        <label>Strongly disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_was_natural" value="disagree">
                        <label>Disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_was_natural" value="neither_agree_nor_disagree">
                        <label>Neither agree nor disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_was_natural" value="agree">
                        <label>Agree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_was_natural" value="strongly_agree">
                        <label>Strongly agree</label>
                      </li>
                    </ul>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    The instructional feedback provided by the teacher was always useful.<span class='required'>*</span>
                </div>
                <div>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="instruction_options_were_useful" value="strongly_diagree">
                        <label>Strongly disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_options_were_useful" value="disagree">
                        <label>Disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_options_were_useful" value="neither_agree_nor_disagree">
                        <label>Neither agree nor disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_options_were_useful" value="agree">
                        <label>Agree</label>
                      </li>
                      <li>
                        <input type="radio" name="instruction_options_were_useful" value="strongly_agree">
                        <label>Strongly agree</label>
                      </li>
                    </ul>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    Please describe any instructional feedback from the teacher
                    that you did not think was useful as well as the situations
                    in which it occured.
                </div>
                <div>
                    <textarea rows="3" name="describe_non_useful_instructional_options"></textarea>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    I always received the instruction from the teacher that I wanted.<span class='required'>*</span>
                </div>
                <div>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="desired_instruction_options_were_available" value="strongly_disagree">
                        <label>Strongly disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="desired_instruction_options_were_available" value="disagree">
                        <label>Disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="desired_instruction_options_were_available" value="neither_agree_nor_disagree">
                        <label>Neither agree nor disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="desired_instruction_options_were_available" value="agree">
                        <label>Agree</label>
                      </li>
                      <li>
                        <input type="radio" name="desired_instruction_options_were_available" value="strongly_agree">
                        <label>Strongly agree</label>
                      </li>
                    </ul>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    Please describe any additional instruction you would have liked to receive.
                </div>
                <div>
                    <textarea rows="3" name="describe_additional_instructional_options"></textarea>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    Learning from the teacher was easy.
                </div>
                <div>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="ease_of_instruction" value="strongly_disagree">
                        <label>Strongly disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="ease_of_instruction" value="disagree">
                        <label>Disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="ease_of_instruction" value="neither_agree_nor_disagree">
                        <label>Neither agree nor disagree</label>
                      </li>
                      <li>
                        <input type="radio" name="ease_of_instruction" value="agree">
                        <label>Agree</label>
                      </li>
                      <li>
                        <input type="radio" name="ease_of_instruction" value="strongly_agree">
                        <label>Strongly agree</label>
                      </li>
                    </ul>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    If you were to learn from the teacher again, what might you do differently?<span class='required'>*</span>
                </div>
                <div>
                    <textarea rows="3" name="describe_what_you_would_do_different"></textarea>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div>
                    Do you have any other comments you would like to share?
            </div>
                <div>
                    <textarea rows="3" name="additional_comments"></textarea>
                </div>
            </div> -->
            <!-- end of a question -->
        <!-- </form> -->

        <div id="all_fields_warning">
        </div>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <!-- <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Finish <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div> -->
        </div>
    </div>


</div>
