<div id="container-instructions">

	<h1>Student Instructions</h1>

	<hr>

	<div class="instructions well">
        <p>
            You have been randomly assigned the role of student. 
        </p>
        <p>
            First, this experiment is exploring how best to structure training
            interactions between a teacher and a student.

            To explore this idea, you will be serving the role of a student
            learning how to do a specific task and you will have a teacher to guide
            you. However, this teacher will be limited in the ways they can provide
            you with feedback (so that these interactions align with what could
            hypothetically be used by a machine learning / artificial intelligence
            system). 

            Your goal will be to successfully complete the task that—currently—only
            the teacher knows. To do this you will have an interface that is broken
            into two parts, the task interface (a unity object you will see on the
            left side of your screen) and a training interface (a web interface you
            will see on the right side). 

            For this task, you should try interacting with the task object on the
            left. You will have the ability to click on the task interface and to
            press the available action button (actions 1 through 4) on the bottom.
            Whenever you take any action, a lock icon will appear in the bottom
            right of the unity object, when this happens the teacher is reviewing
            your action and will give you correctness feedback on your action. If
            your action is acceptable, then you will be allowed to proceed.
            However, if your action is not acceptable, then the action will be
            undone and you will be allowed to try taking an action again. 

            Additionally, throughout the task the chat window will be updated with
            information about whether or not the teacher accepted your actions.
            Another good queue to check for when waiting for feedback is whether
            the task interface has a lock icon in the lower right corner.

            Once you think you have finished the task (which you will be learning
            through the feedback provided to you), you can click the "finished"
            button in the upper right window (in the training interface). 

            After finishing a task, you will then be given another task, so you can
            test what you learned to see if it is correct. 
        </p>
	    
	    <p>
	    	Be helpful, clear.
        </p>

        <p>
        	Use images and concrete examples.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
