<div id="container-instructions">

	<h1>Training Interface</h1>
	<hr>
	<div class="instructions well">
        <h2>Overview</h2>
	    <p>
            In addition to the task interface, you will also have a training
            interface on the right side of the screen that you can use to
            receive task instruction from the teacher.
        </p>

        <h2>Example of Interface</h2>
        <p>
          The image below shows what this interface will look like.
        </p>

        <p style="width: 100%;">
            <img style="display: block; margin-left: auto; margin-right: auto;
            width: 80%;"
            src="/static/images/student-training-interface-apprentice.png"
            alt="training interface">
        </p>

        <h2>Allowed Actions</h2>
        <p>
            Within this interface, you can take three kinds of actions to get
            instruction from the teacher: <strong>take action in the task
                interface</strong>, <strong>request a demonstration</strong>,
            and <strong>verify that the task is complete </strong>. 
	    </p>

        <h2>Taking an action in the task interface</h2>
	    <p>
            You can take an action directly in the task interface and
            the teacher will provide you with correctness feedback. If they
            approve of the action you took, then you will be allowed to
            continue. However, if they disapprove of the action, then you will
            have to try a different action.
        </p>
        <p>
        When you are waiting for feedback from the teacher, the task
        interface will lock (denoted by a lock symbol in the bottom right of
        the task interface). When the teacher is finished giving you feedback
        the interface will unlock again.
        </p>

        <h2>Requesting a demonstration</h2>
        <p>
            If you're not sure how to proceed, then you can press the "request
            a demonstration" button in the training actions menu in the bottom
            right. This will ask the teacher to provide you with an example of
            a correct next action. When the teacher is generating the
            demonstration the task interface will lock and the teacher's
            demonstration will be shown directly in the task interface. After
            the teacher has given you a demonstration the interface will unlock
            and you will be allowed to proceed.
        </p>

        <h2>Verify task is complete</h2>
        <p>
            When you think you have completed the task, press the "verify task
            is done button" in the training actions menu in the bottom right.
            If the task has been completed and the teacher approves of this
            action, then you will be allowed to proceed to the next action.

            However, if the task is not done and the teacher disapproves, then
            you will have to continue working on the task. 
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next"
                    class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
