<div id="container-instructions">

	<h1>Student Role and Process</h1>
	<hr>
	<div class="instructions well">
        <h2>Role Overview</h2>
	    <p>
            Congratulations, you have been randomly assigned to the role of
            <em>student</em> for this experiment! Your job 
            will be to learn from an AI system how to perform 
            a novel task.

            Before describing the task and training interface, this page is
            meant to give you a brief overview of the structure of the
            experiment. 
        </p>

        <h2>Experimental Process</h2>
        <p>
            See the following figure for a depection of the four
            phases of the experiment.
        </p>
        
        <p style="width: 100%;">
            <img style="display: block; margin-left: auto; margin-right: auto;
            width: 80%;"
            src="/static/images/student-process.png" alt="Experimental
            Phases">
        </p>

        <p>
            You are currently in the instruction phase. Once you
            finish, the AI system will teach you to perform a task in the
            context of three scenarios. After you complete this training, then
            you will be tested on your knowledge in three novel scenarios. Your
            performance on these test scenarios will determine your bonus, so
            make sure to do your best to learn the task correctly and
            demonstrate your knowledge in these test scenarios. Finally, you
            will complete a questionaire about your experience in this
            experiment.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
                <!--
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
                -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next"
                    class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
