<div id="container-instructions">

	<h1>Training Interface</h1>
	<hr>
	<div class="instructions well">
        <h2>Overview</h2>
	    <p>
            In addition to the task interface, you will also have a training
            interface on the right side of the screen, shown in the images
            below.
        </p>

        <p>
            Within this interface, you will provide students with three kinds
            of instruction: <strong>demonstrations</strong>, <strong>action
                approval</strong>, and <strong>task completion
                approval</strong>. 
	    </p>

        <h2>Demonstrations</h2>
	    <p>
            The image below shows an example of a student requesting a
            demonstration. When this happens, you can take an action in the
            interface to show them the correct next step.
        </p>
        <p style="width: 100%;">
            <img style="display: block; margin-left: auto; margin-right: auto;
            width: 80%;"
            src="/static/images/demonstration-request.png"
            alt="demonstration request example">
        </p>

        <h2>Action Approval</h2>
        <p>
            The image below shows an example of a student requesting approval
            for an action they have taken. When this happens you click one of
            the buttons in the bottom right to either approve or disapprove of
            their action. When you approve, the student will be allowed to
            continue with the task. However, when you disapprove they will have
            to try a diferent action before they can proceed.
        <p>
        <p style="width: 100%;">
            <img style="display: block; margin-left: auto; margin-right: auto;
            width: 80%;"
            src="/static/images/approval-request.png"
            alt="action approval example">
        </p>

        <h2>Task Completion Approval</h2>
        <p>
            The image below shows an example of a student requestion approval
            for task completion. If the student has correctly completed the
            task, then approving them will allow them to move on to the next
            task scenario. However, if you disapprove then they will have to
            continue working on the task before they can proceed.
        </p>
        <p style="width: 100%;">
            <img style="display: block; margin-left: auto; margin-right: auto;
            width: 80%;"
            src="/static/images/completion-approval-request.png"
            alt="completion approval example">
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next"
                    class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
