<div id="container-instructions">

	<h1>Teacher Overview</h1>
	<hr>
	<div class="instructions well">
	    <p>
            Congratulations, you have been randomly assigned to the role of
            <em>teacher</em> for this experiment! Your job 
            will be to teach an AI system to perform a particular
            task, which will be described to you shortly.
        </p>

        <p>
            Before describing the task and training interface, this page is
            meant to give you a brief overview of the structure of the
            experiment. See the following figure for a depection of the three
            phases of the experiment.
        </p>
        
        <p style="width: 100%;">
            <img style="display: block; margin-left: auto; margin-right: auto;
            width: 80%;"
            src="/static/images/teacher-process.png" alt="Experimental
            Phases">
        </p>

        <p>
            The instructions phase is where you currently are. Once you
            finish the instructions, you will then teach the AI student to
            perform the same task in the context of three scenarios. Finally,
            you will be asked to complete a questionaire regarding your
            experience teaching.
        </p>

        <p>
            After you complete the experiment, we will test the AI student
            that you taught to see if it can complete the same task in three
            novel scenarios. The performance of the AI student on these test
            problems will determine your bonus, so make sure you do your best
            to teach it well!
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
                <!--
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
                -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next"
                    class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
